
.cat{
	background-image:  url("cat.jpg");
	background-size:   1920px 900px;
}
.garden{
	background-image: url("garden2.jpg");
	background-size:   1920px 1080px; 
	
}

#toggleButton{
	background-image: url("catgarden.jpg");
	display:block;
	height:167px;
	width:236px;
	
	border-radius:2px;
	
	text-align:center;
	border-radius:10px;
	margin:auto;
	
}
h1{
	text-align:center;
	
	
}

h2{
	text-align:center;
	
	
}

.photoArray{
	
	width:1150;
	height:300px;
	margin:auto;
	
}
.photoArray1{
	
	width:1150;
	height:300px;
	margin:auto;
	
}


.container {
  width: 300px;
  
  
  margin: 0 auto;
  text-align: center;
  position: relative;
  left:10%;
  border-radius:10px;
}
.containerA {
  width: 300px;
  
  
  margin: 0 auto;
  text-align: center;
  position: relative;
  left:10%;
  border-radius:10px;
}

.container > * {
	display: none;
}
.containerA > * {
	display: none;
}
.container img {
  width: 100%;
  height: auto;
  border-radius:10px;
  margin-top:10px;
}
.containerA img {
  width: 100%;
  height: auto;
  border-radius:10px;
  margin-top:10px;
}
.container1 {
  width: 300px;
  
  
  
  position: relative;
  left:10%;
  border-radius:10px;
}
.container1 {
  width: 300px; 
  position: relative;
  left:10%;
  border-radius:10px;
}

.container1A {
  width: 300px; 
  position: relative;
  left:10%;
  border-radius:10px;
}
.container1 > * {
	display: none;
}

.container1A > * {
	display: none;
}

.container1 img {
  width: 100%;
  height: auto;
  border-radius:10px;
  margin:10px;
  
}

.container1A img {
  width: 100%;
  height: auto;
  border-radius:10px;
  margin:10px;
  
}
.container2 {
  width: 300px; 
  margin-left: 10px;
  position: relative;
  left:10%;
  border-radius:10px;
}

.container2A {
  width: 300px; 
  margin-left: 10px;
  position: relative;
  left:10%;
  border-radius:10px;
}

.container2 > * {
	display: none;
}
.container2A > * {
	display: none;
}
.container2 img {
  width: 100%;
  height: auto;
  border-radius:10px;
  margin:10px;
  
}
.container2A img {
  width: 100%;
  height: auto;
  border-radius:10px;
  margin:10px;
  
}
.buttonArray{
	margin:auto;
	width: 750;
	
	
}


.next {
float:left;
  
  
}

.prev {

  
  float:left;
  
  
}

.next1{
	float:left;
}

.prev1{
	float:left;
	
	margin-left:188px;
}

.next2{
	float:right;
	
}

.prev2{
	float: right;
	
}

.buttonArray1{
	margin:auto;
	width: 750;
	
	
}


.nextA {
float:left;
  
  
}

.prevA {

  
  float:left;
  
  
}

.next1A{
	float:left;
}

.prev1A{
	float:left;
	
	margin-left:188px;
}

.next2A{
	float:right;
	
}

.prev2A{
	float: right;
	
}
.cA{
	text-align: center;
	display: inline-block;
	height:300px;
	width:300px;
	background-color:white;
	margin-top: 50px;
}



